
.container .section-product .categoria{
    color: var(--general-color);
    border: 1px solid var(--general-color);
    margin: .5rem;
    border-radius: 9999px;
    padding: 0.3rem 1rem;
    text-align: center;
    cursor: pointer;
}
.container .section-product .categoria:hover{
    background: var(--general-color);
    color: white;
}
.activeCategoria{
    background: var(--general-color);
    color: white;
    border: 1px solid var(--general-color);
    margin: .5rem;
    border-radius: 9999px;
    padding: 0.3rem 1rem;
    text-align: center;
    cursor: pointer;
}